<!-- page.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <script src="page.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="topnav">
        <form class="search" action="/" method="GET">
            <input type="text" name="city" id="city" placeholder="Search Cities.." spellcheck="false">
            <button><img src="search.png" alt=""></button>
        </form>    
    </div>
        <div class="cards">
            <div class="card">
                <% if (weatherData) { %>
                    <h1><%= city %></h1>  
                    <div class="currentCondition"><%= weatherData.current.condition.text %></div>
  
                    <div class="mainview">
                        
                        <img class="currentIcon" src="<%= weatherData.current.condition.icon %>" >
                        <div>
                            <div class="currentTemp"><%= Math.floor(weatherData.current.temp_f) %>°</div>
                        </div>
                        
                    </div>
                    <div class="grid-container">
                        <div class="grid-item">
                            <p>Feels Like <%= weatherData.current.feelslike_f %> °F</p>
                        </div>
                        <div class="grid-item">
                            <p>Wind Speed <%= weatherData.current.wind_mph %> mph</p>
                        </div>
                        <div class="grid-item">
                            <p>Humidity <%= weatherData.current.humidity %></p>
                        </div>
                        <div class="grid-item">
                            <p>Wind Direction <%= weatherData.current.wind_direction %></p>
                        </div>
                    </div>
            <% } else { %>
                <p><%= error %></p>
            <% } %>
        </div>
        <div class="card">
        
        </div>
    </div>
    
</body>
</html>